body {
  color: black;
  background-color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 25px;
}

div {
  display: block;
  width: 400px;
  height: 300px;
  margin-left: 5px;
}
ul {
  border: 1px solid;
}

li {
  list-style-type: square;
  display: inline;
  font-size: 25px;
  margin: 10px 10px;
}

h1 {
  text-align: center;
  font-size: 35px;
}
h2 {
  font-size: 30px;
}

.accueil {
  width: 300px;
  height: 200px;
  align-items: left;
}
.presentation {
  width: 1800px%;
  float: left;
}
audio {
  display: block;
}
.nasredin {
  width: 300px;
  margin: left;
}
.samarcande {
  width: 300px;
  margin: left;
}
.amour gloir courage {
  width: 300px;
  margin: left;
}
