body {
  color: blueviolet;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 15px;
}

div {
  display: inline;
  width: 400px;
  height: 300px;
  margin-left: 5px;
}
ul {
  border: 1px solid;
}
p {
  font-size: 25px;
}
li {
  list-style-type: none;
  display: inline;
  font-size: 25px;
}

h1 {
  font-family: cursive;
  text-align: center;
}

.accueil {
  min-width: 500px;
  min-height: 200px;
  align-items: left;
}
.presentation {
  width: 700px%;
  height: 600px;
  float: left;
  margin: 
}

.texte presentation {
  float: left;
  margine
}
