body {
  color: blueviolet;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul {
  border: 1px solid;
  width: "200%";
}

li {
  list-style-type: none;
  display: inline;
  width: "200%";
}
.shadowbox {
  border: 1px solid;
  margin: auto;
  padding: 0.5em;
  width: 50%;
  box-shadow: 10px 5px 5px grey;
  text-align: center;
}

h1 {
  font-family: cursive;
  width: "70%";
  text-align: center;
}
