<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta title="Diren AYDIN Conteuse" />
    <meta name="description contenu apparent sur google" />
    <meta
      keywords="conteuse,conte, merveilleux, montpellier, diren, aydin, mésopotamie, kurde, turquie"
    />
    <link rel="stylesheet" href="style-site.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <ul>
      <li>Accueil</li>
      <li><a href="Parcours.html">Parcours</a></li>
      <li><a href="spectacle.html">Spectacle</a></li>
      <li><a href="histoires.html">Je raconte</a></li>
      <li><a href="creation-crochet.html">Mes créations aux crochets</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
   {{content}}
   </body>
</html>
