
    <meta charset="utf-8" />
    <meta title="Diren AYDIN Conteuse" />
    <meta name="description contenu apparent sur google" />
    <meta
      keywords="conteuse,conte, merveilleux, montpellier, diren, aydin, mésopotamie, kurde, turquie"
    />
    
   [stylesheet](style-site.css)
   [stylesheet](https://fonts.googleapis.com/css2?family=Pacifico&display=swap)
    
    [Accueil](index.html)
    [Parcours](Parcours.html)
    [Spectacle](spectacle.html)
    [Je raconte](histoires.html) 
    [Mes créations aux crochets](creation-crochet.html) 
    [Contact](contact.html)
   
   {{content}}
  
